@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

body,h1,h2,ul,li {
  padding: 50px;
  font-family: 'Lato', sans-serif;
  color: #313131;
}

a {
  color: #00B7FF;
}

.positive{
	background-color: #BED854;
}

.negative{
	background-color: #E72155;
}

.neutral{
	background-color: #666666;
}
